
header{
    font-size: 2.25em;
    background: rgba(166,44,44,1);
    text-align: center;
    color: antiquewhite;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
}

nav ul
{
    background-color: brown;
    padding: 1px;
    text-align: center;

}
nav ul li,nav ul li a{
    color: white;
    display: inline-block;

}
nav ul li a:link,nav ul li a:visited{
    padding: 30px;
    text-decoration: double;
    font-family: "Droid Sans Georgian";
    text-transform: capitalize;
    transition: 0.8s;
   -o-transition: 0.8s;
    -webkit-transition: 0.8s;

}
nav ul li a:hover,nav ul li a:active{

    background: rgba(169,61,61,1);

}

main {
    width: 65%;
    border: 1px solid #ccc;
    margin: 10px;
    float: left;
}

article h1 {

    font-size: 1.5em;
    background: rgba(166, 44, 44, 1);
    text-align: center;
    color: white;
    padding: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);

}

article {
    background: rgba(241, 241, 241, 1);
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    float: left;


}

article img {
    width: 300px;
    height: 300px;
    padding-left: 25%;

}

article p span {
    color: blue;
}

article a {
    display: block;
    text-align: right;
    padding: 0 40px 0 0;
    text-decoration: none;
}

article a:hover {
    color: rgba(211, 84, 8, .6);
}

aside {
    width: 30%;
    float: right;
    padding-top: 15px;

}

aside .side, aside .recent {
    border: 1px solid #ccc;
    background: rgba(241, 241, 241, 1);
    color: brown;
    padding: 20px;
    margin-bottom: 20px;

}

aside .recent li, aside .side li {
    background: rgba(230, 230, 230, 1);
    border: none;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: left;
}

aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    color: rgba(0, 0, 0, .6);
}

aside ul li {
    list-style: none;

}

aside h2 {
    text-align: center;
}

footer {
    font-size: 1em;
    padding: 40px;
    background: rgba(166, 44, 44, 1);
    text-align: center;
    color: white;

}

.clear {
    clear: both;
}

form {
    width: 65%;
    float: left;
    padding: 20px;
    padding-bottom: 20px;

}

input {
    background: cornflowerblue;
    outline: none;
}

input[type="text"] {
    width: 60%;
    display: block;
    border: none;
    outline: none;
    padding: 10px;
}

textarea {
    display: block;
    border: none;
    width: 95%;
    outline: none;
    background: lightgoldenrodyellow;
    min-height: 200px;
    border-bottom: 1px dotted;
    padding: 30px;
}

span {
    padding: 15px;
}